.start-container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
}

.start-content {
  display: flex;
  color: var(--azul-pergunta);
  width: 100%;
  max-width: 850px;
  padding: 10px;
  border: 2px solid #ffffff;
  padding: 40px;
}

.start-info h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 50px;
}

.start-info p {
  font-size: 25px;
}

.start-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-left: 25px;
  margin-top: 20px;
}

.start-button {
  width: 200px;
}

.start-icon {
  text-decoration: none;
  color: #1f2833;
  display: flex;
  font-weight: 600;
}
